img.profile {
  margin: auto;
  width: 40%;
  height: auto;
  display: block;
}

.anagram {
  color:red;
}

.footer {
  background-color: #49796b;
}

.footer-content {
  color: #d1e0d6;
  background-color: #49796b;
  text-align: center;
  margin: auto;
  width: 50%;
  display: block;
}

.footer-icon {
  